.container {
  text-align: center;
  padding-bottom: 3rem;
}

.wrapper {
  max-width: 1020px;
  width: 80%;
  margin: auto;
}

footer {
  font-size: medium;
  font-weight: normal;
}

@media (min-width: 768px) {
  .container {
    margin: 4rem;
  }
}
