/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  height: 100%;
}

:root {
  --bg-color: #f4f1ed;
  --primary-color: #50a65d;
  --secondary-color: #232323;
}
